@tailwind base;
@tailwind components;
@tailwind utilities;

.video-container{
    width: 99%;
    height: 75vh;
}

video{
    width: 99%;
    height: 75vh;
    object-fit: cover;
}

.content{
    width: 99%;
    height: 75vh;
    top: 0;
    display: flex;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 75vh;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 1%;
}

.separador{
    width: 98%;
}
