@tailwind base;
@tailwind components;
@tailwind utilities;

.video-container{
    width: 99%;
    height: 92vh;
}

video{
    width: 99%;
    height: 92%;
    object-fit: cover;
}

.content{
    width: 99%;
    height: 92%;
    top: 0;
    display: flex;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 92%;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 1%;
}