@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image: url("../../public/img/fondo.jpg");
}

.video-container{
    width: 99%;
    height: 75vh;
}

video{
    width: 99%;
    height: 75vh;
    object-fit: cover;
}

.content{
    width: 99%;
    height: 75vh;
    top: 0;
    display: flex;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 75vh;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 2%;
}

.separador{
    width: 98%;
}

.section-cont{
    width: 98%;
}

.amazing-button{
    background: linear-gradient(rgb(255, 171, 102), rgb(255, 122, 0));
}

.premium-button{
    background: linear-gradient(rgb(79, 118, 157), rgb(160, 199, 248));
}

.footer-cont{
    width: 98%;
}

body{
    margin-top: 0;
}
